<?xml version="1.0" encoding="utf-8"?>
<configuration>
<appSettings>
    <add key="PORT" value="8080" />
    <add key="MONGODB_URL" value="mongodb+srv://pranshupantofficial:1q2gWjF7MZX8WVjp@pranshuapi.bzr5tjx.mongodb.net/PranshuAPI?retryWrites=true&amp;w=majority&amp;appName=PranshuAPI" />
    <add key="JWT_TOKEN_KEY" value="H1f@d9!l3Qk8$Zx" />
    <add key="CLOUD_NAME" value="dwmaln0ks" />
    <add key="API_SECRET" value="b7wt4m5Nvor_LGP2jU0EtruGe6g" />
    <add key="API_KEY" value="744918119749437" />
    <add key="CLOUDINARY_URL" value="cloudinary://744918119749437:b7wt4m5Nvor_LGP2jU0EtruGe6g@dwmaln0ks" />
</appSettings>

  <system.webServer>
    <handlers>
      <add name="iisnode" path="src/index.js" verb="*" modules="iisnode" />
    </handlers>
    <rewrite>
      <rules>
        <rule name="Nodejs" stopProcessing="true">
          <match url="^(.*)$" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="src/index.js" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
